@import '../../../assets/variables';

.root {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

a {
  color: $primary;
}