@import "../../../assets/variables.scss";

.root {
  border: none;
  color: #eee;
  padding: .6rem 1.5rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  font-weight: 600;

  &:disabled {
    background-color: #969696!important;
  }
}

.primary {
  background-color: $primary;

  &:hover {
    background-color: darken($primary, 7);
  }
}

.secondary {
  background-color: $secondary;

  &:hover {
    background-color: darken($secondary, 7);
  }
}

.danger {
  background-color: $danger;

  &:hover {
    background-color: darken($danger, 7);
  }
}

.add {
  width: 100%;
  padding: .2rem 0;
  border-radius: .3rem;
  background-color: transparent;
  color: $white;
  font-size: 1.3rem;
  border: 1px dashed $secondary;
  margin: .5rem 0;
}

.transparent {
  border: 1px solid $grey;
  background-color: transparent;
}

.gradient_1 {
  background-image: $gradient_1;
}

.gradient_2 {
  background-image: $gradient_2;
}

.gradient_3 {
  background-image: $gradient_3;
}

.gradient_4 {
  background-image: $gradient_4;
}

.noMargins {
  margin: 0;
}

.fullWidth {
  width: 100%;
}