@import '../../../assets/variables';

.root {
  margin-top: 1rem;
}

.workouts {
  margin: 1rem 0;
}

.workout {
  margin-bottom: 1rem;
}

.exerciseSelector {
  margin-top: 2rem;
  margin-bottom: .75rem;
}

.sets {
  margin-bottom: 1rem;
}

.setWrapper {
  display: flex;
  flex-direction: column;
}

.set {
  display: grid;
  align-items: center;
  grid-template-columns: 20px 20px 20px 1fr 1fr;
  gap: 1rem;
}

.addSetButton {
  width: calc(100% - 60px - 3rem);
  align-self: flex-end;
}

.actionButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.actionButton {
  margin-left: .5rem;
}

.setIcon {
  cursor: pointer;
  opacity: .2;

  &:hover {
    opacity: 1;
  }
}