.root {
  width: 200px;
}

.displayName {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.menuList {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .5rem;
}

.settings {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  row-gap: .5rem;
  margin: 1rem 0;
}